<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    
  </head>
  <body>
    
    <nav class="navbar">
        
      <ul>
          <li><a href="portal_do_paciente.html">Portal do paciente</a></li>
          <li><a href="cadastro.html">Cadastro</a></li>
          <li><a href="sobre.html">Sobre</a></li>
          
      </ul>
      <br>
      
      </nav>
      <h1 id="titulo_home">Home</h1>
      <strong><h3 id="titulo_sistema">Sistema de Agendamento e Gerenciamento (SAGe) </h3></strong>
    
      Olá, aqui você pode agendar sua consulta de forma simples e rápida, click em cadastro e inicie o agendamento!

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <footer>
      <p>&copy; 2024 Direitos Reservados Softex</p>
  </footer>
  
  </body>
</html>